/* Style for Pokecard Component*/

.pokemonCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 12vw;
  margin: 1.5vw;
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pokemonCard:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  cursor: pointer;
}

.pokemonImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1vh;
}

.pokemonFav{
  display: flex;
  margin-top: 0.5vh;
  align-items: center;
  justify-content: center;
}

.pokemonInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5vh;
  width: 100%;
  background-color: white;
}

.pokemonName{
  background-color: #545454;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
  text-transform: capitalize;
}

.pokemonTypes{
  display: flex;
  flex-direction: row;
  margin: 1vh;
}

.pokemonType{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3vh;
  color: white;
  text-transform: capitalize;
  margin-right: 0.25vw;
  border-radius: 1.5vh;
}
