/* Pokedex syles */

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  /* height: 100vh; */
}

.pokemonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationAndDrawer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.listItem{
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}

.noPokemonsFound {
  font-size: 40px;
  font-weight: bold;
  font-style: oblique;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
  width: 50vw;
  padding: 5%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  background-color: white;
}

.noPokemonsFound:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}
