/* Pokedex syles */

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  /* height: 100vh; */
}

.pokemonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationAndDrawer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.listItem{
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}
